{% if include.current_page==1 %}
    {% assign previous_state = "disabled" %}
{% else %}
    {% assign previous_state = "" %}
{% endif %}

{% if include.current_page==include.total_pages %}
    {% assign next_state = "disabled" %}
{% else %}
    {% assign next_state = "" %}
{% endif %}

{% assign next_page = include.current_page | plus: 1 %}
{% assign previous_page = include.current_page | minus: 1 %}


<nav aria-label="Post teaser pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item page-item-prev {{previous_state}}">
            <a class="page-link" href="#post-page-{{previous_page}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {% for i in (1..include.total_pages) %}
        {% if i==include.current_page %}
            {% assign active_page_class = "active" %}
        {% else %}
            {% assign active_page_class = "" %}
        {% endif %}
        <li class="page-item d-none d-sm-block {{active_page_class}}" data-page="{{i}}"><a class="page-link" href="#post-page-{{i}}">{{i}}</a></li>
        {% endfor %}
        <li class="page-item page-item-next {{next_state}}">
        <a class="page-link" href="#post-page-{{next_page}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
        </li>
    </ul>
</nav>