<div class="posts-and-nav">
  <div class="posts">
      {% assign posts_lang = site.posts | where:"lang", page.lang %}
      {% assign post_page = 1 %}
      {% assign total_pages = posts_lang | size | divided_by: site.items_per_page | plus: 1 %}
      <div class="post-page" id="post-page-{{post_page}}">
      {% for post in posts_lang %}
        {% include post-teaser.html %}
        {% assign elementInPage = forloop.index | modulo: site.items_per_page %}
        {% if elementInPage == 0 or forloop.index == forloop.length %}
          {% include blog-pagination.html total_pages=total_pages current_page=post_page %}
          </div>
        {% endif %}
        {% if elementInPage == 0 and forloop.index != forloop.length %}
          {% assign post_page = post_page | plus: 1 %}
          <div class="post-page" id="post-page-{{post_page}}">
        {% endif %}
      {% endfor %}
      <div class="post-page" id="post-page-special-first">
          {% for post in posts_lang limit: site.items_per_page %}
            {% include post-teaser.html %}
          {% endfor %}
          {% include blog-pagination.html total_pages=total_pages current_page=1 %}
      </div>
  </div>
</div>

<style>
.post-page{
  display: none;
}
#post-page-special-first{
  display: block;
}
.post-page:target{
  display: block;
}
.post-page:target ~ .post-page{
  display: none !important;
}
</style>