{% if page.date %}
    {% assign unified_date = page.date %}
{% else %}
    {% assign unified_date = post.date %}
{% endif %}
{% if page.lang == "de" %}
    {% assign month_num = unified_date | date: "%-m" %}
    {% capture month_name %}
        {% case month_num %}
            {% when '1' %}Januar
            {% when '2' %}Februar
            {% when '3' %}März
            {% when '4' %}April
            {% when '5' %}Mai
            {% when '6' %}Juni
            {% when '7' %}Juli
            {% when '8' %}August
            {% when '9' %}September
            {% when '10' %}Oktober
            {% when '11' %}November
            {% when '12' %}Dezember
        {% endcase %}
    {% endcapture %}
    {{ unified_date | date: "%-d" }}. {{ month_name | strip }}{{ unified_date | date: ", %Y" }}
{% else %}
    {{ unified_date | date: "%B %-d, %Y" }}
{% endif %}