<header class="site-header bootstrap-iso">

    <!-- Logo and title -->
    <!--<div class="branding">
      <a href="{{ '/' | append: page.lang | replace: 'en', '' | relative_url }}">
        <img alt="logo img" class="avatar" src="{{ site.theme_settings.avatar | relative_url }}" alt=""/>
      </a>
    </div>-->

    <!-- Toggle menu -->
    <!--{% for top_nav_entry in site.data[page.lang].nav.top.pages %}
          <li class="separator"> | </li>
          <li>
              <a class="clear" name="{{ top_nav_entry.name }}" href="{{ site.baseurl | replace: '//', '/' }}{{ top_nav_entry.link }}">{{ top_nav_entry.name }}</a>
          </li>
        {% endfor %}-->

    <!--{% for item in site.data[page.lang].nav.top.special_page %}
            <li class="separator"> | </li>
            <li>
              <a class="clear" href="{{ item.link | relative_url }}" name="{{ item.name }}">
                <i class="fa fa-{{ item.icon }}" aria-hidden="true"></i>
              </a>
            </li>
        {% endfor %}-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- SmartAQnet logo -->
        <a class="navbar-brand" href="{{ '/' | append: page.lang | replace: 'en', '' | relative_url }}">
            <img src="{{ site.theme_settings.avatar | relative_url }}" width="300" alt="logo img">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu entries -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for top_nav_entry in site.data[page.lang].nav.top.pages %}
                    {% if top_nav_entry.link %}
                        <!-- Single entry -->
                        <li>
                            <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}{{ top_nav_entry.link }}">{{ top_nav_entry.name }}</a>
                        </li>
                    {% elsif top_nav_entry.entries %}
                        <!-- Submenu entry (dropdown required) -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-{{top_nav_entry.name | slugify }}" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{top_nav_entry.name}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown-{{top_nav_entry.name | slugify }}">
                                {% for sub_nav_entry in top_nav_entry.entries %}
                                    <a class="dropdown-item" href="{{ sub_nav_entry.link }}">{{ sub_nav_entry.name }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>