<header class="site-header bootstrap-iso">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- SmartAQnet logo -->
        <a class="navbar-brand" style="max-width: 75%;" href="{{ '/' | append: page.lang | replace: 'en', '' | relative_url }}">
            <img src="{{ site.theme_settings.avatar | relative_url }}" width="300" alt="logo img">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu entries -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for top_nav_entry in site.data[page.lang].nav.top.pages %}
                    {% if top_nav_entry.link %}
                        <!-- Single entry -->
                        <li>
                            <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}{{ top_nav_entry.link }}">{{ top_nav_entry.name }}</a>
                        </li>
                    {% elsif top_nav_entry.entries %}
                        <!-- Submenu entry (dropdown required) -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-{{top_nav_entry.name | slugify }}" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{top_nav_entry.name}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown-{{top_nav_entry.name | slugify }}">
                                {% for sub_nav_entry in top_nav_entry.entries %}
                                    <a class="dropdown-item" href="{{ sub_nav_entry.link }}">{{ sub_nav_entry.name }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-language fa-lg mr-2"></i>
                        <span class="d-none d-xl-inline">Language:</span> {{page.lang}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-language-code="en" onclick="setUserLanguage('en')">English</a>
                        <a class="dropdown-item" href="#" data-language-code="de" onclick="setUserLanguage('de')">Deutsch</a>
                    </div>
                </div>
                {% for item in site.data[page.lang].nav.top.special_page %}
                    <a role="button" class="btn btn-primary" href="{{ item.link | relative_url }}" name="{{ item.name }}">
                        <i class="fas fa-{{item.icon}} fa-lg mr-2"></i>
                        <span class="d-none d-xl-inline">{{ item.name }}</span>
                    </a>
                {% endfor %}
            </form>
        </div>
    </nav>
</header>