// Header text feature
.call-out {
    @extend %padding-medium;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    text-align: center;
    color: $header-desc-text-color;
    background: $header-desc-background-color no-repeat;
    background-size: $feature-image-size;

    /* --- Responsive --- */
    @media screen and (min-width: $break) {
        background-size: 120% auto;
    } 
    
    @media screen and (max-width: $break) {
        background-size: 200% auto;
    } 
    
    @media screen and (max-width: $sm-break) {
        background-size: 400% auto;
    }
    
    //For white images
    p,
    a,
    li,
    h1,
    h2,
    h3,
    h4,
    h5 {
        @extend .header-txt-shadow;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

#main{
    position: relative;
}

#main #feature-img {
    background-position: 100% 0, 0 center, center top;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#main.center-feature-img #feature-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#main.center-feature-img #feature-img-blur {
    position: absolute;
    width: calc(100% + 100px);
    left: -50px;
    height: calc(100% + 100px);
    top: -50px;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    /* FF doesn't support blur filter, but SVG */
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='svgBlur' x='-5%' y='-5%' width='110%' height='110%'><feGaussianBlur in='SourceGraphic' stdDeviation='10'/></filter></svg>#svgBlur");
    filter: blur(20px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='20');
}

// Post listing
.posts {
    .post-teaser {
        @extend %padding-small;
        width: 100%;
        margin-bottom: 0;
        display: inline-block;
        background-size: $feature-image-size;
        position: relative;
        ::after{
            content:" ";
            position: absolute;
            display: block;
            width: 90%;
            left: 5%;
            height: 0;
            bottom: 0;
            border-bottom: 1px solid rgb(226, 226, 226);
        }
        p a {
            @extend .body-link;
        }
        img {
            width: 100%;
            padding: 0;
            vertical-align: middle;
        }

        .post-img {
            vertical-align: middle;
            border-radius: 10px;
            overflow: hidden;

            @media (min-width: $break) {
                height: 250px;
            } //Smaller screen
            @media screen and (max-width: $break) {
                height: 150px;
            }
        }

        .post-img img {
            //max-width: 100%;

            -moz-transition-timing-function: ease-out;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;

            -moz-transition: all 2s;
            -webkit-transition: all 2s;
            transition: all 2s;

            &:hover {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
    .excerpt {
        margin-top: 1em;
    }
}

.slug-index-md .post-content{
    @extend %padding-extended;
}

#home-content {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    aside {
        position: relative;
        display:flex;
        flex-direction: column;
        flex-basis: 400px;
        flex-shrink: 0;
    }
    .posts-and-nav{
        margin-right: 2%;
    }
    .calendar-card{
        margin-bottom: 20px;
        overflow-y: auto;
    }
    .twitter-card{
        flex-basis: 400px;
        flex-grow: 1;
        overflow-y: auto;
        margin-bottom: 100px;
    }
    @media (max-width: 1440px) {
        flex-direction: column-reverse;
        aside{
            flex-direction: row;
            margin-bottom: 10%;
            max-height: 400px;
        }
        .twitter-card{
            margin-left: 10px;
            margin-bottom: 0;
            flex-grow: 1;
        }
        .calendar-card{
            margin-right: 10px;
            margin-bottom: 0;
            flex-grow: 1;
        }
    }
    @media (max-width: 850px) {
        flex-direction: column-reverse;
        aside{
            flex-direction: column;
            margin-bottom: 10%;
            flex-basis: initial;
            max-height: 800px;
        }
        .twitter-card{
            margin-left: 0;
            margin-bottom: 0;
            flex-grow: 1;
        }
        .calendar-card{
            margin-right: 0;
            margin-bottom: 20px;
            flex-grow: 1;
        }
    }
}

// Pagination
.pagination {
    padding: $padding-small 0 $padding-small 0;
}
