{% if layout.bootstrap_whole_page %}
  {% assign bootstrap_whole_page_class = "bootstrap-iso" %}
{% elsif page.bootstrap_whole_page %}
  {% assign bootstrap_whole_page_class = "bootstrap-iso" %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
  {% include head.html %}
  <head>
    <title>Abschlussveranstaltung</title>
    <link rel= "stylesheet" type="text/css" href= "{{ '/assets/static/css/concluding_event.css' | relative_url }}">
    <!--Favicon-->
    {% include icon_code.html %}
  </head> 
  <body class="{{bootstrap_whole_page_class | default: ""}} language-{{ page.lang | default: "en" }} slug-{{ page.name | slugify | default: "none" }}">
    {% include navbar.html %}

    {{ content }}

    <script type="text/javascript">
      var container = document.getElementById('container');
      container.style.backgroundSize = window.innerWidth*1.2 + "px " +  window.innerHeight*1.2 + "px"


      window.onmousemove = function(e){
          var x = - e.clientX/25,
              y = - e.clientY/25;
          container.style.backgroundPositionX = x + 'px';
          container.style.backgroundPositionY = y + 'px';
      }
    </script>
  </body>
</html>