<!DOCTYPE html>
<html>
<head>
  <title>Abschlussveranstaltung</title>
  <link rel= "stylesheet" type="text/css" href= "{{ '/assets/static/css/concluding_event.css' | relative_url }}">
  <!--Favicon-->
  {% include icon_code.html %}
</head> 
<body>

  {{ content }}

  <script type="text/javascript">
    var container = document.getElementById('container');
    window.onmousemove = function(e){
        var x = - e.clientX/25,
            y = - e.clientY/25;
        container.style.backgroundPositionX = x + 'px';
        container.style.backgroundPositionY = y + 'px';
    }
  </script>
</body>
</html>