---
layout: default
bootstrap: true
---
<div class="carheader-page">
    <header id="cardheader" class="bootstrap-iso">
        <div class="d-flex container">
            <div class="header-row row align-items-end">
                <div class="col-11 col-lg-5 mx-2 headertext">
                    <h2>{{ page.title }}</h2>
                    <p>{{ page.subtitle }}</p>
                </div>
            </div>
        </div>
    </header>
    <section class="post-content">
        {{ content }}
    </section>
</div>